version: '3'

services:
  wikibase:
    image: wikibase/wikibase:1.30
    build:
      context: ./wikibase/1.30
      dockerfile: Dockerfile
    links:
      - mysql
    ports:
     - "8181:80"
    volumes:
      - mediawiki-images-data:/var/www/html/images
    depends_on:
    - mysql
    networks:
      default:
        aliases:
         - wikibase.svc